.pomodoro__breaks {
  display: flex;
  justify-content: center;
  max-width: 27rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: var(--color-dark-bg-1);
  margin-bottom: 4.5rem;

  @media (max-width: 445px) {
    max-width: 23rem;
  }

  span {
    color: var(--color-primary-text);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.9rem 1.5rem 1rem 1.4rem;
    align-self: center;
    cursor: pointer;
    border-radius: 2.25rem;

    @media (max-width: 445px) {
      font-size: 0.8rem;
    }
  }
}

span.active {
  color: var(--color-dark-bg);
  background-color: var(--color-primary-bg);
}
