*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* forms */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-size: 62.5%;
  background-color: var(--color-dark-bg);
  font-family: var(--ff-primary);
}
