:root {
  --color-primary-text: hsl(227, 100%, 92%);
  --color-dark-bg: hsl(235, 35%, 18%);
  --color-dark-bg-1: hsl(234, 39%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-3: hsl(229, 52%, 96%);
  --color-primary-bg: hsl(0, 91%, 71%);
  --color-secondary-bg: hsl(182, 91%, 71%);
  --color-tertiary-bg: hsl(284, 89%, 74%);

  --ff-primary: 'Kumbh Sans', sans-serif;
  --ff-secondary: 'Roboto Slab', serif;
  --ff-tertiary: 'Space Mono', monospace;
}
